@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit.ttf");
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1A2B33;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}

/*Popup*/
#popup, #exitPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#exitPopup button{
    margin: 5px;
}


.modal {
    display: none;
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    max-height: 100vh;
}

.modal h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.button-container {
    margin-top: 28px;
    text-align: right;
}

.sub-can-btn {
    margin-left: 5px;
}

#userInput {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
}

/*Game*/
section {
    text-align: center;
    justify-content: center;
    padding: 30px;
    margin: auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game--title {
    font-size: 65px;
    margin: 0px 0px 30px 0px;
    color: #A9BEC8;
}

#subtitleDiv {
    display: inline-block;
    padding: 0px;
    margin-bottom: 20px;
    width: 400px;
}

#subtitleRow {
    padding: 0px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.game--subtitle {
    display: inline-block;
    font-size: 30px;
    color: #A9BEC8;
    background: #1E3640;
    padding: 5px 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    border-radius: 5%;
    margin: 0px;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #1E3640;
    color: #34C3BE;
    margin-bottom: 30px;
}

.game--status {
    font-size: 40px;
    margin: 20px auto;
    margin-bottom: 30px;
    color: #A9BEC8;
}

#gameButtons {
    display: inline;
    justify-content: space-between;
}

.game-button {
    display: inline;
    background-color: #F2B138;
    width: 145px;
    height: 50px;
    font-size: 22px;
    color: #1A2B33;
}

/*Game*/

/* Extra Small Devices (phones) */
@media screen and (max-width: 575px) {
    .game--status {
        font-size: 35px;
    }

    .game-button {
        width: 120px;
        height: 40px;
        font-size: 20px;
    }

}

/* Small Devices (tablets) */
@media screen and (min-width: 576px) and (max-width: 767px) {

    /* Styles for small tablets */
    .game--status {
        font-size: 40px;
    }
}

/* Medium Devices (tablets, small laptops) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium-sized devices */

}

/* Large Devices (desktops) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */

}

/* Extra Large Devices (large desktops) */
@media screen and (min-width: 1200px) {
    /* Styles for extra-large devices */
}



/*height changes*/
/* Extra Small Devices (phones) */
@media screen and (max-height: 567px) {

    .cell {
        width: 50px;
        height: 50px;
        font-size: 35px;
    }

    .game--container {
        width: 153px;
    }

    .game--title {
        font-size: 35px;
        margin: 0px 0px 20px 0px;
    }

    .game--status {
        font-size: 24px;
        margin: 10px auto;
        margin-bottom: 30px;
        color: #A9BEC8;
    }

    .game--subtitle {
        font-size: 18px;
    }

    .game-button {
        width: 120px;
        height: 30px;
        font-size: 18px;
    }
}


/* Small Devices (tablets) */
@media screen and (min-height: 568px) and (max-height: 619px) {
    .cell {
        width: 50px;
        height: 50px;
        font-size: 40px;
    }

    .game--container {
        width: 153px;
    }

    .game--title {
        font-size: 35px;
        margin: 0px 0px 20px 0px;
    }

    .game--status {
        font-size: 24px;
        margin: 10px auto;
        margin-bottom: 30px;
        color: #A9BEC8;
    }

    .game--subtitle {
        font-size: 18px;
    }

    .game-button {
        width: 120px;
        height: 30px;
        font-size: 18px;
    }
}

/* Medium Devices (tablets, small laptops) */
@media screen and (min-height: 620px) and (max-height: 749px) {

    /* Styles for medium-sized devices */
    .cell {
        width: 60px;
        height: 60px;
        font-size: 50px;
    }

    .game--container {
        width: 184px;
    }

    .game--title {
        font-size: 38px;
        margin: 0px 0px 25px 0px;
    }

    .game--status {
        font-size: 28px;
        margin: 10px auto;
        margin-bottom: 30px;
        color: #A9BEC8;
    }

    .game--subtitle {
        font-size: 20px;
    }

    .game-button {
        width: 120px;
        height: 35px;
        font-size: 20px;
    }

}

/* Large Devices (desktops) */
@media screen and (min-height: 750px) and (max-height: 859px) {

    /* Styles for large devices */
    .cell {
        width: 80px;
        height: 80px;
        font-size: 60px;
    }

    .game--container {
        width: 245px;
    }

    .game--title {
        font-size: 50px;
        margin: 0px 0px 30px 0px;
    }

    .game--status {
        font-size: 32px;
        margin: 10px auto;
        margin-bottom: 30px;
        color: #A9BEC8;
    }

    .game--subtitle {
        font-size: 25px;
    }

    .game-button {
        width: 120px;
        height: 40px;
        font-size: 20px;
    }
}

/* Extra Large Devices (large desktops) */
@media screen and (min-height: 860px) {
    /* Styles for extra-large devices */
}